/* style the main body of the document */
body {
    font-family: quiet-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
/* style the paragraph text */
p {

}

/* style the headings */
h1 {
 

font-family: quiet-sans, sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 36px;
    line-height: 40px;
    color:cadetblue;
}
h2 {
    color: cadetblue;
    text-decoration: underline;
    text-align: center;
}
h3 {

}

/* style the unordered list */
ul {

}

/*define the link styles*/
a {

}
a:hover {

}
a:visited {

}

/*define the strong styles*/
strong {

}

/*define the emphasis styles*/
em {

}
/*define the image styles*/

img {
 
}
